<mat-toolbar color="primary">
  <mat-icon (click)="sideNav.toggle()">{{ sideNav.opened ? 'menu_open' : 'menu' }}</mat-icon>
  <span class="toolbar-title">EffCom AG: {{ message }}</span>
  <mat-select [(ngModel)]="selectedLanguage"
              name="language"
              (selectionChange)="changeLanguage($event.value)">
      <mat-option value="de">Deutsch</mat-option>
      <mat-option value="en">English</mat-option>
  </mat-select>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sideNav mode="side" class="sidenav">
    <app-navigation></app-navigation>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<mat-toolbar class="footer" color="primary">
  <span>&copy; 2019: {{ message$ | async }}</span>
</mat-toolbar>
