<mat-toolbar color="primary">
  <mat-icon (click)="sideNav.toggle()">{{ sideNav.opened ? 'menu_open' : 'menu' }}</mat-icon>
  <span class="toolbar-title">EffCom AG</span>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sideNav mode="side" class="sidenav">
    cooming soon
  </mat-sidenav>
  <mat-sidenav-content>
    <app-test></app-test>
  </mat-sidenav-content>
</mat-sidenav-container>
<mat-toolbar class="footer" color="primary">
  <span>&copy; 2019</span>
</mat-toolbar>
