<mat-card>
  <mat-card-title>{{ user.name }}</mat-card-title>
  <mat-card-content>
    <p>{{ user.position }}</p>
    <p>{{ user.salary | currency:'EUR' }}</p>
    <p>
      <input type="text" name="description" [(ngModel)]="description" />
    </p>
    <select name="status" #select (change)="sendStatus(select.value)">
      <option value="true">Beschäftigt</option>
      <option value="false">Nicht beschäftigt</option>
    </select>
    <button (click)="sendMessage()">Send Message</button>
  </mat-card-content>
</mat-card>
